@model IEnumerable<TransactionViewModel>

@{
    Layout = "_Layout";
}

<div class="card">
    <div class="card-body" style="background: white">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">All Payment</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-12 table-responsive-md">
                @*<a class="btn btn-xs btn-outline-success float-md-right" asp-action="Create"> New Employee</a>*@
                <table class="table table-strip table" style="color: black;">

                    <thead>
                        <tr>
                            <th>Payment id</th>
                            <th>Method</th>
                            <th>Name on card</th>
                            <th>Card number</th>
                            <th>Expiration</th>
                            <th>CVV</th>
                            <th>Total price</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.paymentID</td>
                                <td>@item.method</td>
                                <td>@item.nameOnCard</td>
                                <td>@item.cardNumber</td>
                                <td>@item.expiration</td>
                                <td>@item.CVV</td>
                                <td>@item.totalPrice</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>