@model CreateProductViewModel

<div class="card">
    <div class="card-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Employee" asp-action="Index">All Employees</a></li>
                <li class="breadcrumb-item active" aria-current="page">New Employee</li>
            </ol>
        </nav>
        <div class="row">
            <form method="post" asp-action="Create" enctype="multipart/form-data">

                <div class="col-md-12 table-responsive-md">
                    <div class="form-row">
                        <div class="col-2 form-group">
                            <label asp-for="@Model.productID" class="form-label"></label>
                        </div>
                        <div class="col-3 form-group">
                            <input asp-for="@Model.productID" class="form-control"/>
                            <span asp-validation-for="@Model.productID" class="text-danger"></span>
                        </div>
                        <div class="col-2 form-group"></div>
                        <div class="col-2 form-group">
                            <label asp-for="@Model.name" class="form-label"></label>
                        </div>
                        <div class="col-3 form-group">
                            <input asp-for="@Model.name"class="form-control"/>
                            <span asp-validation-for="@Model.name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-2 form-group">
                            <label asp-for="@Model.brand" class="form-label"></label>
                        </div>
                        <div class="form-check col-md-3">
                            <select class="form-control" asp-for="@Model.brand">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                            <span asp-validation-for="brand" class="text-danger"></span>
                        </div>
                        <div class="col-2 form-group"></div>
                        <div class="col-2 form-group">
                            <label asp-for="@Model.inDate" class="form-label"></label>
                        </div>
                        <div class="col-3 form-group">
                            <input asp-for="@Model.inDate" class="form-control" />
                            <span asp-validation-for="@Model.inDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-2 form-group">
                            <label asp-for="@Model.price" class="form-label"></label>
                        </div>
                        <div class="col-3 form-group">
                            <input asp-for="@Model.price" class="form-control" />
                            <span asp-validation-for="@Model.price" class="text-danger"></span>
                        </div>
                        <div class="col-2 form-group"></div>
                        <div class="col-2 form-group">
                            <label asp-for="@Model.description" class="form-label"></label>
                        </div>
                        <div class="col-3 form-group">
                            <input asp-for="@Model.description" class="form-control" />
                            <span asp-validation-for="@Model.description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">                   
                        <div class="col-md-2"></div>
                        <div class="form-group col-md-1">
                            <label asp-for="@Model.imgURL"></label>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="btn btn-primary btn-icon-text">
                                <i class="fas fa-cloud-upload-alt"></i>
                                <input asp-for="@Model.imgURL" type="file" value="Upload" />
                                <span asp-validation-for="@Model.imgURL" class="text-danger"></span>
                            </div>
                        </div>
                    </div>                  
                </div>
                <div class="form-group">

                    <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Save</button>
                    <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                    <br />
                    <br />
                    <br />

                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}